.ob-autocomplete {
  .dropdown,
  .dropdown-menu {
    width: 100%;
  }

  .dropdown-content {
    max-height: 300px;
    overflow-y: auto;

    a.dropdown-item {
      transition:
        background-color 0.25s,
        color 0.25s;
    }
  }

  & .ob-autocomplete__drop-down-item-powered-by-google {
    text-align: right;
    padding-right: 16px;
    color: #5f6368;

    img {
      vertical-align: middle;
    }
  }
}
