.ob-barcode-scanner__square {
  border-color: rgba(0, 0, 0, 0.5);
  border-style: solid;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
}

.ob-barcode-scanner__line {
  background-color: rgba(255, 0, 0, 0.5);
  position: absolute;
}
