.ob-bsb__record-control {
  min-width: 0;
}

.ob-bsb__record-button {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: block;
}

.ob-bsb__display-mobile {
  display: none;
  @media only screen and (max-width: $mobile) {
    display: block;
  }

  .ob-bsb__record-button {
    border-top: 0px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    width: 100%;
  }
}

.ob-bsb__display-desktop {
  @media only screen and (max-width: $mobile) {
    display: none;
  }
}

.ob-bsb .field .control:first-child .input {
  @media only screen and (max-width: $mobile) {
    border-bottom-left-radius: 0px;
  }
}

/** Styles copy or lookup button */
.ob-bsb .field .control:last-child .button {
  @media only screen and (max-width: $mobile) {
    border-bottom-right-radius: 0px;
  }
}

/** Styles input field when there are no copy or lookup buttons */
.ob-bsb
  .field.has-addons.no-addons-mobile
  .control:first-child:not(:only-child)
  .input {
  @media only screen and (max-width: $mobile) {
    border-top-right-radius: 4px;
  }
}

.field.no-addons-mobile .control:not(:last-child) {
  @media only screen and (max-width: $mobile) {
    margin-right: 0px;
  }
}
