.buttons {
  gap: 0 $size-8;
}

.buttons .button:not(:last-child):not(.is-fullwidth) {
  margin-right: 0;
}

.button:focus-visible {
  outline-offset: $size-9;
  outline: $button-focus-border-color auto 3px;
}
