.ob-label__input-toggle-all {
  font-style: italic;
  margin-bottom: $size-8;
}

.ob-radio__input-label,
.ob-checkbox__input-label {
  display: inline-flex;
  align-items: center;

  > .ob-checkbox__input,
  > .ob-radio__input {
    margin-right: $size-8;
  }
}
