.ob-progress__attachment-wrapper {
  .ob-progress__attachment-bar {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
  }
  .ob-progress__attachment-tooltip-element {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}
