.ob-buttons-radio {
  .ob-button-radio-container {
    .ob-button {
      white-space: normal;
      height: auto;
    }
  }
}

@container ob-form-container (max-width: 500px) {
  .ob-buttons-radio {
    .ob-button-radio-container {
      width: 100%;
      .ob-button {
        width: 100%;
        margin-right: 0;
      }
    }
  }
}
