.ob-repeatable-set {
  .ob-repeatable-set__container {
    position: relative;
    padding: $size-5;
    padding-top: $size-7;
    margin-bottom: $size-5;
    > .ob-button_remove {
      margin-bottom: $size-8;
      border: $grey solid 1px;
      background: $white;

      @media only screen and (min-width: $desktop) {
        float: right;
        margin-bottom: 0;
        min-width: 0;
        margin-left: $size-7;
      }
    }

    .ob-element:nth-child(2) {
      margin-top: $size-6;
    }
  }
  > .ob-button__add {
    margin-bottom: $size-0;
    min-width: 0;
    &.ob-button-repeatable-set-layout__multiple-add-buttons {
      margin-bottom: $size-5;
    }
  }
  &.odd > .ob-repeatable-set__container {
    background-color: $white;
  }
  &.even > .ob-repeatable-set__container {
    background-color: $white-bis;
  }
}

/* give the second last sibling with class ob-element a lesser margin */
.ob-repeatable-set-container-layout__multiple-add-buttons
  > .ob-repeatable-set__container
  .ob-element:nth-last-child(2) {
  margin-bottom: $size-5;
}

/* remove the margin from the single add button 
 if it is directly under a multiple add button repeatable set */
.ob-repeatable-set-container-layout__multiple-add-buttons
  > .ob-repeatable-set__container
  > .ob-element
  > div
  > .ob-repeatable-set.ob-repeatable-set-container-layout__single-add-button
  > .ob-button__add {
  margin-bottom: 0;
}
