.ob-section__header {
  display: flex;
  align-items: center;
  gap: $size-6;
  cursor: pointer;
  padding: $size-6 $size-8;
  flex-wrap: wrap;

  &:hover {
    background-color: $white-ter;
  }
}

.ob-section__header-filled {
  background-color: $white-ter;
  border-top-left-radius: $radius;
  border-top-right-radius: $radius;

  &:hover {
    background-color: bulmaDarken($white-ter, 2.5%);
  }
}

.ob-section__header-text {
  flex: 1;

  &:not(:last-child) {
    margin: 0;
  }
}

.ob-section__header-icon-container {
  flex: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.section-invalid-icon {
  margin-right: $size-8;
}

.ob-section__header-icon {
  transition: transform 300ms ease-in-out;

  &.is-rotated {
    transform: rotate(180deg);
  }
}

.ob-section__divider {
  margin: 0 0 $size-6;
}

.ob-section__hint-text-container {
  width: 100%;
}

.ob-section__collapsible-content-container {
  padding: $size-6;
  border: 2px solid $white-ter;
  border-top: 0px;
  position: relative;
  border-bottom-left-radius: $radius;
  border-bottom-right-radius: $radius;
}

.ob-section__bottom-collapse-button {
  position: absolute;
  left: 50%;
  bottom: 0px;
  transform: translate(-50%, 50%);
}

.ob-section__collapsed {
  display: none;
}
