
.has-margin-bottom-1 {
  margin-bottom: $size-1;
}
.has-margin-bottom-2 {
  margin-bottom: $size-2;
}
.has-margin-bottom-3 {
  margin-bottom: $size-3;
}
.has-margin-bottom-4 {
  margin-bottom: $size-4;
}
.has-margin-bottom-5 {
  margin-bottom: $size-5;
}
.has-margin-bottom-6 {
  margin-bottom: $size-6;
}
.has-margin-bottom-7 {
  margin-bottom: $size-7;
}
.has-margin-bottom-8 {
  margin-bottom: $size-8;
}

.has-margin-top-1 {
  margin-top: $size-1;
}
.has-margin-top-2 {
  margin-top: $size-2;
}
.has-margin-top-3 {
  margin-top: $size-3;
}
.has-margin-top-4 {
  margin-top: $size-4;
}
.has-margin-top-5 {
  margin-top: $size-5;
}
.has-margin-top-6 {
  margin-top: $size-6;
}
.has-margin-top-7 {
  margin-top: $size-7;
}
.has-margin-top-8 {
  margin-top: $size-8;
}

.is-raised-1 {
  box-shadow: $elevation-1;
}
.is-raised-2 {
  box-shadow: $elevation-2;
}
.is-raised-3 {
  box-shadow: $elevation-3;
}

.has-line-breaks {
  white-space: pre-wrap;
}
