.has-margin-left-1 {
  margin-left: $size-1;
}
.has-margin-left-2 {
  margin-left: $size-2;
}
.has-margin-left-3 {
  margin-left: $size-3;
}
.has-margin-left-4 {
  margin-left: $size-4;
}
.has-margin-left-5 {
  margin-left: $size-5;
}
.has-margin-left-6 {
  margin-left: $size-6;
}
.has-margin-left-7 {
  margin-left: $size-7;
}
.has-margin-left-8 {
  margin-left: $size-8;
}
.has-margin-left-9 {
  margin-left: $size-9;
}

.has-margin-right-1 {
  margin-right: $size-1;
}
.has-margin-right-2 {
  margin-right: $size-2;
}
.has-margin-right-3 {
  margin-right: $size-3;
}
.has-margin-right-4 {
  margin-right: $size-4;
}
.has-margin-right-5 {
  margin-right: $size-5;
}
.has-margin-right-6 {
  margin-right: $size-6;
}
.has-margin-right-7 {
  margin-right: $size-7;
}
.has-margin-right-8 {
  margin-right: $size-8;
}
.has-margin-right-9 {
  margin-right: $size-9;
}

.has-margin-bottom-1 {
  margin-bottom: $size-1;
}
.has-margin-bottom-2 {
  margin-bottom: $size-2;
}
.has-margin-bottom-3 {
  margin-bottom: $size-3;
}
.has-margin-bottom-4 {
  margin-bottom: $size-4;
}
.has-margin-bottom-5 {
  margin-bottom: $size-5;
}
.has-margin-bottom-6 {
  margin-bottom: $size-6;
}
.has-margin-bottom-7 {
  margin-bottom: $size-7;
}
.has-margin-bottom-8 {
  margin-bottom: $size-8;
}
.has-margin-bottom-9 {
  margin-bottom: $size-9;
}

.has-margin-top-1 {
  margin-top: $size-1;
}
.has-margin-top-2 {
  margin-top: $size-2;
}
.has-margin-top-3 {
  margin-top: $size-3;
}
.has-margin-top-4 {
  margin-top: $size-4;
}
.has-margin-top-5 {
  margin-top: $size-5;
}
.has-margin-top-6 {
  margin-top: $size-6;
}
.has-margin-top-7 {
  margin-top: $size-7;
}
.has-margin-top-8 {
  margin-top: $size-8;
}
.has-margin-top-9 {
  margin-top: $size-9;
}

.is-raised-1 {
  box-shadow: $elevation-1;
}
.is-raised-2 {
  box-shadow: $elevation-2;
}
.is-raised-3 {
  box-shadow: $elevation-3;
}

.has-line-breaks {
  white-space: pre-wrap;
}

.has-thick-border-left {
  border-left-width: $size-8;
  border-left-style: solid;
  border-left-color: $dark;
  transition: border-left-color 0.5s;

  &.is-primary-thick-border-left {
    border-left-color: $primary;
  }
  &.is-link-thick-border-left {
    border-left-color: $link;
  }
  &.is-link-thick-border-left {
    border-left-color: $primary;
  }
  &.is-info-thick-border-left {
    border-left-color: $info;
  }
  &.is-success-thick-border-left {
    border-left-color: $success;
  }
  &.is-warning-thick-border-left {
    border-left-color: $warning;
  }
  &.is-danger-thick-border-left {
    border-left-color: $danger;
  }
}

.ob-border-radius {
  border-radius: $radius;
}
